*{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

canvas {
  border: 1px solid red;
}

button{
  padding: 0.5rem;
  margin: 0rem 0.25rem 0rem 0.25rem;
}

.contenedor-principal{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.botonoes-control, .botones-velocidad{
  margin: 0.5rem;
}

.contadores{
  display: flex;
  gap: 2rem;
}